* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, "Cochin", "Georgia", "Times", 'Times New Roman', serif;
}

:root {
    --cor-azul: #2d5091c9;
}


.main {
    margin: 5%;
    color: var(--cor-azul);
}

.main__list--exercicios {
    color: rgb(0, 0, 0);
    margin-top: 2rem;
}

.main__list--exercicio {
    margin-top: 1rem;
}

form {
    display: flex;
    margin-top: 2rem;

}

#situacao-aluno {
    text-align: center;
}

#btn {
    margin-top: 1rem;
    padding: 5px 0;
    font-size: 1.3rem;
    color: var(--cor-azul);
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--cor-azul)
}

.container__result {
    background-color: #ffffff;
    width: 300px;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    border-radius: 5px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.invisivel {
    display: none;
}

#msg {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem;
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    border-radius: 5px;

}

legend {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}